*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
}
body{
    background-color: #e6eafe;
}

.calculatorBody {
    width: 230px;
    margin: 30px auto 0;
    background-color: #393756;
}

.calculatorBody ul #result{
    color: #fff;
    min-height: 100px;
}
.calculatorBody .keyboard{
    width: 100%;
    float: left;
    background: #574d99;
}
.calculatorBody .keyboard li button{
    width: 25%;
    padding: 20px 0 20PX;
    background: #574d99;
    float: left;
    font-size: 16px;
    text-align: center;
    color: #fff;
    border-top: 1px solid #6b64a2;
    border-left: 1px solid #6b64a2;
    border-right: 0;
    border-bottom: 0;
    outline: none;
}
.calculatorBody .keyboard li .bg-blue{
    background-color: #6b82f2;
    border-top: 1px solid #7b8de6;
    border-left: 1px solid #7b8de6;
}
.calculatorBody .keyboard .long{
    width: 50%;
}